
<div>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Corporate Headquarters</h1>
            <p>Toll Free: 123-123-123</p>
            <p>Phone: 8899778899</p>
            <p>Fax: 820-2893-239</p>
            <p>Email: office@sample.com</p>
        </div>
    </div>
</div>