

@section studentSection{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">student</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">student</a>
}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>MVC Application</h1>
    </div>
</div>